<!DOCTYPE html>
<html>

<head>
    <% include partials/templates/head.ejs %>
</head>

<body>
    <!-- page header -->
    <% include partials/templates/header.ejs %>
    <!-- page main content -->
    <% include partials/content/main.ejs %>


</body>

</html>